################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.v2
*.vsidx
*.lock
*.testlog
/.vs
/.config
/obj
/bin
/Content/bin
/Content/obj
/.idea/.idea.Entopia/.idea
